section.topline{
    width: 100%;
    height: 34px;
    background-color: #207DFF;
}
section.topline>span{
    display: inline-block;
    width: 25%;
    height: inherit;
    font-size:14px; 
    color: white;
    font-weight: bold;
    font-family: Poppins-Light;
    text-align: center;
    line-height: 34px;
    letter-spacing: 1px;
}
section.topline>span>i{
    font-size: 18px;
    margin-right: 7px;
}
section.topline>a{
    display: inline-block;
    width: 5%;
    height: inherit;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
    font-family:Poppins-Light;
    color: white;
    text-transform:uppercase;
    position:relative;
    left:400px;
    margin-right: 10px;
    letter-spacing: 0.5px;
    font-weight: bold;
}